[submodule "spec"]
	path = spec
	url = https://github.com/sendspin/spec
[submodule "time-filter"]
	path = time-filter
	url = https://github.com/sendspin/time-filter
[submodule "sendspin-cpp"]
	path = sendspin-cpp
	url = https://github.com/Sendspin/sendspin-cpp
